[Unit]
Description=Run unison backup on shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sleep 10
ExecStart=/usr/bin/systemctl disable shutdown-backup
StandardOutput=console

[Install]
WantedBy=shutdown.target