[Unit]
Description=Run unison backup on shutdown

[Service]
Type=oneshot
Environment="HOME=/root"
StandardOutput=journal+console
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=-/usr/bin/unison -batch %i
ExecStop=/usr/bin/systemctl disable %n

[Install]
WantedBy=multi-user.target
