[Unit]
Description=Enable Shutdown Backup eveny Wednesday and Friday

[Timer]
OnCalendar=weekly
Persistent=true     
 
[Install]
WantedBy=timers.target